= render 'groups/index'
.main
  = render 'groups/header'
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: 'form__message', autofocus: true, placeholder: 'type a message'
      .form__img
        %label.form__img__icon
          %i.fa.fa-picture-o
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
