= render 'groups/index'
.main
  = render 'groups/header'
  .messages
    .message
      .message-top
        .message-top__user-name
          %p 山本
        .message-top__date
          %p 2017/07/10 11:20
      .message-bottom
        %p.message-bottom__content これはサンプルです。。。
    .message
      .message-top
        .message-top__user-name
          %p 山本
        .message-top__date
          %p 2017/07/10 11:20
      .message-bottom
        %p.message-bottom__content これはサンプルです。。。
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: 'form__message', autofocus: true, placeholder: 'type a message'
      .form__img
        %label.form__img__icon
          %i.fa.fa-picture-o
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
